* {
  box-sizing: border-box;
}

:root{
  --spotify-green:#1db954;
  --light-gray:#b3b3b3;
  --mid-gray:#535353;
  --dark-gray:#282828;
  --black:#000;
}

html {
  height:100%;
}

body {
  height:100%;
  margin:0;
  font-family: sans-serif;
  line-height: 1.5em;
  background-color: var(--black);
}
nav a{
 color:white; 
}

#main-card{
  font-family: "Open Sans", sans-serif;
  height:100%;
}

#main-card h1{
  color:white;  
}

#main-card p{
  color:white
}

.fa-comment-alt {
  display: none;
}

#top-bar{ 
  display:flex;
}

#top-bar h1{
  flex:5;
  font-size: 40px;
  margin-top: 30px;
}

#top-bar button{
  flex:1;
  margin: 30px;
  background-color: var(--spotify-green);
  border-radius:15px;
  border: none;
  font-weight: bold;
  font-size: larger;
  color: white;
  max-width:150px;
  margin-right: 50px;
}

#main-card{
/*   flex:5 */
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

#top-section{
  flex:5;
  display:flex;
}

#left-white-space{
  flex:1;
}

#playlist-group{
  flex:6;
}

#songs-chat{
  display:flex;
  overflow-y:scroll;
  height: 500px;
  max-height: 95%;
}

#playlist-add-songs{
  flex:5
}

#right-white-space{
  width: 200px;
  flex: 1;
}

/* search pop-up box */
#searchPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid white;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  color: black;
  width: 750px;
  max-width: 80%;
}

#searchResults {
}

#searchPopup.active {
  transform: translate(-50%, -50%) scale(1);
}

#popupHeader {
  padding: 15px 15px;
  margin-bottom: 20px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

#popupTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

#closePopup {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

#searchSong {
  padding-left: 10px;
  width: 700px;
  max-width: 90%;
  height: 43px;
  border: solid 3px var(--spotify-green);
  position: absolute;
  border: solid 1px black;
}

input:focus {
  outline: 0;
  border: solid 2px var(--spotify-green) !important;
}

#searchButton{
  background-color: var(--spotify-green);
  color: white;
  border: solid 3px var(--spotify-green);
  border-radius: 4px;
  padding: 8px;
  margin-right:10px;
  cursor:pointer;
  font-size: 18px;
  position: relative;
  left: 640px;
}


#popupBody {
  padding: 10px 15px;
}

#searchOverlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backround-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 9;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#noResultsMessage {
  display: block;
}

.fa-search {
  color: var(--mid-gray);
  font-size: 50px;
  position: relative;
  left: 46%;
  margin-top: 15%;
}

#initialMessage {
  color: var(--mid-gray);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15%;
}

/* individual song obj in the playlist */
#song-obj{
  display:flex;
  justify-content: space-between;
  padding-top: 30px;
  font-size: 20px;
}

#song-obj p{
  margin:0;
}

#song {
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: 700;
}

#artist {
  color: var(--light-gray) !important;
}

#duration-song {
  color: var(--light-gray) !important;
}

#name-artist{
  display:flex;
  flex-direction: column;
}

.fa-plus {
  color: white;
  font-size: 2em;
  cursor: pointer;
  padding-top: 20px;
}

#controls-group{
/*   flex:1; */
  min-width: 100%;
  margin:2px;
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-gray);
}

#controller{
  flex:1;
  font-size: 18px;
  font-weight: bold;
}

#controller p{
  padding: 10px 15px;
  margin:0;
  color: var(--light-gray);
}

.fa-volume-down {
  color: var(--mid-gray);
  font-size: 2em;
  padding-left: 15%;
}

.fa-volume-up {
  color: var(--mid-gray);
  font-size: 2em;
  padding-left: 10%;
}

#song-display-chat{
  display:flex;
  justify-content:space-between;
  margin:2px;
  flex:5;
}

#song-display-chat p{
  margin:0;
  font-size: 20px;
}

#song-display-container{
  display:flex;
  flex-direction:column;
}

#current-song-display {
  display: flex;
  flex-direction: row;
}

#song-display {
  padding: 10px 5px;
  font-weight: bold;
}

#artist-display {
  padding: 10px 5px;
  color: var(--light-gray) !important;
}

#album-display {
  padding: 10px 5px;
  color: var(--light-gray) !important;
}

#duration-display {
  display: flex;
  padding: 10px 5px;
}

#duration-start-display {
  font-size: 14px !important;
}

#duration-end-display {
  font-size: 14px !important;
}

#myProgress {
  width: 600px;
  background-color: var(--mid-gray);
  height: 5px;
  border-radius: 10px;
  margin: 10px 10px;
}

#myBar {
  width: 0px;
  background-color: var(--light-gray);
  height: 5px;
  border-radius: 10px;
}

#song-display-chat button{
  margin:5px;
}

#open-chat {
  background-color: var(--spotify-green);
  border: solid 3px var(--spotify-green);
  font-family: "Open Sans";
  font-weight: bold;
  color: white;
  height: 40px;
}

#chat-box{
  background-image: linear-gradient(var(--dark-gray), var(--mid-gray));
  height:400px;
  width:250px;
  right:2%;
  bottom:13%;
  position: fixed;
  bottom: 0;
}

#close-chat-btn{
  cursor:pointer;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: var(--dark-gray);
  border: solid 1px var(--dark-gray);
  position:absolute;
  right:0;
  top:0;
}

#chat {
  display:flex;
  flex-direction: column;
  height:100%;
}

#chat h3 {
  margin: 10px;
  margin-left:5px;
  color: white;
}

#chat-container{
  flex:5;
}

#chat-control-container{
  flex:1
  display:flex;
  flex-direction:column;
}

#output{
  overflow-y:scroll;
  height:200px;
}

#handle {
  background-color: var(--light-gray);
  border: solid 3px var(--light-gray);
  border-radius: 20px;
  width: 150px;
  margin: 10px;
  position: absolute;
  bottom: 40px;
  height: 30px;
}

#message {
  background-color: var(--light-gray);
  border: solid 3px var(--light-gray);
  border-radius: 20px;
  width: 150px;
  margin: 10px;
  position: absolute;
  bottom: 5px;
  height: 30px;
}

#send {
  position: relative;
  bottom: 20px;
  left: 180px;
}

/* styling for the popup when invite is clicked */
#invite-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #1db954;
  padding: 5px 30px;
  border-radius: 14px;
  cursor: pointer;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}
#popup {
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 40%;
  background-color: white;
  z-index: 2;
  text-align: center;
}
#popupText {
   font-family: sans-serif;
   font-weight: bold;
   font-size: 30px;
   margin-top: 10%;
   margin-bottom: 30px;
}
#url {
    font-family: sans-serif;
    cursor: pointer;
}
#x {
  position: fixed;
  transform: rotate(45deg);
  font-size: 60px;
  font-weight: bold;
  color: white;
  right: 20px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
}

#chat-message{
  margin-left:5px;
}

#typing-message{
  margin-left:5px;
}

#duration{
  display:flex;
  min-width: 70px;
  justify-content: inherit;
}

#delete-song-btn{
/*   transform: rotate(45deg); */
/*   font-size: 60px; */
  font-weight: bold;
  color: white;
/*   right: 20px; */
/*   top: 20px; */
  z-index: 2;
  cursor: pointer;
}

#delete-song-btn{
  z-index:0;
}

#song-container{
  display:flex;
  justify-content:space-between;
}

.song-container{
  display:flex;
  justify-content:space-between;
}


.song-container button{
  background-color:var(--spotify-green);
  color: white;
  border-radius:5px;
  border-color:var(--spotify-green);
}

/* media */
@media screen and (max-width: 768px) {
  #top-bar button {
    margin-top: 35px;
    margin-right: 30px;
  }
  .fa-comment {
    display: block;
    color: white;
    font-size: 3em;
    margin: 30px 30px;
  }
  #playlist-add-songs { 
    margin-left: 35px;
  }
  #left-white-space {
    width: 10%;
  }
  #start-streaming {
    margin-top: 500px;
  }
  #top-bar h1 {
    margin-top: 40px;
    width: 320px;
    margin-left: 30px;
  }
  #controls-group {

    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 300px;
    max-width: 100%;
  }
  #controller {
    max-width: 0;
  }
  #controller p {
    display: none;
  }
  #song-display-container {
    min-width: 100%;
  }
  #current-song-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  .fa-volume-down {
    position: fixed;
    left: 0;
    padding-left: 10%;
  }
  .fa-volume-up {
    position: fixed;
    right: 0;
    padding-right: 10%;
  }
  #duration-display {
    display: flex;
    padding: 10px 5px;
    justify-content: space-evenly;
  }
  #duration-start-display {
    position: fixed;
    left: 5px;
  }
  #duration-end-display {
    position: fixed;
    right: 5px;
  }
  #myProgress {
    min-width: 80% !important;
  }
 
  #open-chat {
    display: none;
  }
  #searchButton {
    left: 80%;
  }
}